<script>
    $('#myTable05').fixedHeaderTable({
        altClass: 'odd',
        footer: true,
        width: '100%',
        fixedColumn: false
    });
</script>


<!-- this is the main container view for the offersheet -->
<div class="container" >
    <div class="alertContainer">
        <div class="alert alert-success" role="alert">
            This is a success alert—check it out!
        </div>
        <div class="alert alert-danger" role="alert">
            This is a danger alert—check it out!
        </div>
    </div>
    <div class="row" id="offersheetContent">
        <div class="col-sm-12 text-center">
            <img src="http://115.113.189.18/vglorder/vpop_dev/sites/default/files/shop_lc_logo.png">
        </div>
        <br>
        <div class="col-sm-12">
            <h4>Event Planning Data (UK)</h4>
            <span class="pull-right"><b>Total Records:{{recordCount}}</b></span>
            <div>Search: &nbsp<input type="text" ng-model="searchQuery"></div>
            <div>&nbsp&nbsp&nbsp&nbsp page: &nbsp {{renderSectionOffset}}</div>
            <div>&nbsp&nbsp&nbsp&nbspVisible Records: &nbsp {{visibleProductsCount}}</div>
        </div>
        <div class="col-sm-12" style="height: 500px; overflow: auto">
            <table class="table table-bordered" id="myTable05" cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th>S. No.</th>                <th>Image</th>                <th>Event Name</th>           <th>EventDt</th>
                        <th>Cal.Confirm</th>           <th>ActionDt</th>             <th>OfferCutOffDt</th>
                        <th>ActionDt</th>              <th>ShipmentDt</th>           <th>ActionDt</th>            <th>StoneInHand?</th>
                        <th>Budget($)</th>             <th class="casting-th">Casting-SKU</th>          <th class="casting-th">Casting-Qty</th>
                        <th class="casting-th">Casting-Val($)</th>          <th class="steel-th">Steel-SKU</th>             <th class="steel-th">Steel-Qty</th>
                        <th class="steel-th">Steel-Val($)</th>              <th class="beads-th">Beads-SKU</th>             <th class="beads-th">Beads-Qty</th>
                        <th class="beads-th">Beads-Val($)</th>              <th class="base-th">Base-SKU</th>               <th class="base-th">Base-Qty</th>
                        <th class="base-th">Base-Val($)</th>                <th class="watch-th">Watch-SKU</th>             <th class="watch-th">Watch-Qty</th>
                        <th class="watch-th">Watch-Val($)</th>              <th>BudgetCoverd($)</th>                        <th>BudgetDiff.($)</th>
                        <th>FacEvntMerch.</th>         <th>Event Buyer</th>          <th>FacOffSKUOff.</th>
                        <th>FacOffSKUOrd.</th>
                    </tr>
                </thead>


            <tbody id="tableBody">
              <tr ng-repeat="value in visibleProducts | filter:searchQuery">
                <!-- <td>heloo</td>   -->
                <td scope="row">{{$index +1}}</td>
                <td scope="row" class="thumbImg"><span><img width="30px" height="30px" src="https://akamaicdn3.shoplc.com/LCProdThumb/LCProdThumb/{{value.image}}" alt="" ng-click="openImageModal(value)"></span></td>
                <td>{{value.title}} ({{value.field_event_hour}})</td>
                <td>{{value.event_date}}</td>
                <td>-------</td>
                <td><input class="form-control" type="text"></td>
                <td>-------</td>
                <td><input class="form-control" type="text"></td>
                <td>-------</td>
                <td><input class="form-control" type="text"></td>
                <td>{{value.field_stone_detail_in_hand}}</td>
                <td>{{value.field_event_bali_budget}}</td>
                <td class="dataCell">
                    <span id="loader_field_casting_sku{{$index}}" style="text-align: center"><img src="./images/small_loader.gif" alt="loading"></span>
                    <input  id="input_field_casting_sku{{$index}}" class="form-control" type="text" ng-model="value.field_casting_sku" ng-disabled="isUpdating"  ng-change="updateData(value.nid, {'field_casting_sku': value['field_casting_sku']}, 'field_casting_sku', $index)">
                </td>
                <td class="dataCell">
                    <span id="loader_field_casting_quantity{{$index}}"><img src="./images/small_loader.gif" alt="loading"></span>
                    <input id="input_field_casting_quantity{{$index}}" class="form-control" type="text" ng-model="value.field_casting_quantity" ng-disabled="isUpdating" ng-change="updateData(value.nid, {'field_casting_quantity': value['field_casting_quantity']}, 'field_casting_quantity', $index)">
                </td>
                <td class="dataCell">
                    <span id="loader_field_casting_value{{$index}}"><img src="./images/small_loader.gif" alt="loading"></span>
                    <input id="input_field_casting_value{{$index}}" class="form-control" type="text" ng-model="value.field_casting_value" ng-disabled="isUpdating" ng-change="updateData(value.nid, {'field_casting_value': value['field_casting_value']}, 'field_casting_value', $index)">
                </td>
                <td class="dataCell">
                    <span id="loader_field_steel_sku{{$index}}"><img src="./images/small_loader.gif" alt="loading"></span>
                    <input id="input_field_steel_sku{{$index}}" class="form-control" type="text" ng-model="value.field_steel_sku" ng-disabled="isUpdating" ng-change="updateData(value.nid, {'field_steel_sku': value['field_steel_sku']}, 'field_steel_sku', $index)">
                </td>
                <td class="dataCell">
                    <span id="loader_field_steel_quantity{{$index}}"><img src="./images/small_loader.gif" alt="loading"></span>
                    <input id="input_field_steel_quantity{{$index}}" class="form-control" type="text" ng-model="value.field_steel_quantity" ng-disabled="isUpdating" ng-change="updateData(value.nid, {'field_steel_quantity': value['field_steel_quantity']}, 'field_steel_quantity', $index)">
                </td>
                <td class="dataCell">
                    <span id="loader_field_steel_value{{$index}}"><img src="./images/small_loader.gif" alt="loading"></span>
                    <input id="input_field_steel_value{{$index}}" class="form-control" type="text" ng-model="value.field_steel_value" ng-disabled="isUpdating" ng-change="updateData(value.nid, {'field_steel_value': value['field_steel_value']}, 'field_steel_value', $index)">
                </td>
                <td class="dataCell">
                    <span id="loader_field_beads_sku{{$index}}"><img src="./images/small_loader.gif" alt="loading"></span>
                    <input id="input_field_beads_sku{{$index}}" class="form-control" type="text" ng-model="value.field_beads_sku" ng-disabled="isUpdating" ng-change="updateData(value.nid, {'field_beads_sku': value['field_beads_sku']}, 'field_beads_sku', $index)">
                </td>
                <td class="dataCell">
                    <span id="loader_field_beads_quantity{{$index}}"><img src="./images/small_loader.gif" alt="loading"></span>
                    <input id="input_field_beads_quantity{{$index}}" class="form-control" type="text" ng-model="value.field_beads_quantity" ng-disabled="isUpdating" ng-change="updateData(value.nid, {'field_beads_quantity': value['field_beads_quantity']}, 'field_beads_quantity', $index)">
                </td>
                <td class="dataCell">
                    <span id="loader_field_beads_value{{$index}}"><img src="./images/small_loader.gif" alt="loading"></span>
                    <input id="input_field_beads_value{{$index}}" class="form-control" type="text" ng-model="value.field_beads_value" ng-disabled="isUpdating" ng-change="updateData(value.nid, {'field_beads_value': value['field_beads_value']}, 'field_beads_value', $index)">
                </td>
                <td class="dataCell">
                    <span id="loader_field_base_metal_sku{{$index}}"><img src="./images/small_loader.gif" alt="loading"></span>
                    <input id="input_field_base_metal_sku{{$index}}" class="form-control" type="text" ng-model="value.field_base_metal_sku" ng-disabled="isUpdating" ng-change="updateData(value.nid, {'field_base_metal_sku': value['field_base_metal_sku']}, 'field_base_metal_sku', $index)">
                </td>
                <td class="dataCell">
                    <span id="loader_field_base_metal_quantity{{$index}}"><img src="./images/small_loader.gif" alt="loading"></span>
                    <input id="input_field_base_metal_quantity{{$index}}" class="form-control" type="text" ng-model="value.field_base_metal_quantity" ng-disabled="isUpdating" ng-change="updateData(value.nid, {'field_base_metal_quantity': value['field_base_metal_quantity']}, 'field_base_metal_quantity', $index)">
                </td>
                <td class="dataCell">
                    <span id="loader_field_base_metal_value{{$index}}"><img src="./images/small_loader.gif" alt="loading"></span>
                    <input id="input_field_base_metal_value{{$index}}" class="form-control" type="text" ng-model="value.field_base_metal_value" ng-disabled="isUpdating" ng-change="updateData(value.nid, {'field_base_metal_value': value['field_base_metal_value']}, 'field_base_metal_value', $index)">
                </td>
                <td class="dataCell">
                    <span id="loader_field_watch_sku{{$index}}"><img src="./images/small_loader.gif" alt="loading"></span>
                    <input id="input_field_watch_sku{{$index}}" class="form-control" type="text" ng-model="value.field_watch_sku" ng-disabled="isUpdating" ng-change="updateData(value.nid, {'field_watch_sku': value['field_watch_sku']}, 'field_watch_sku', $index)">
                </td>
                <td class="dataCell">
                    <span id="loader_field_watch_quantity{{$index}}"><img src="./images/small_loader.gif" alt="loading"></span>
                    <input id="input_field_watch_quantity{{$index}}" class="form-control" type="text" ng-model="value.field_watch_quantity" ng-disabled="isUpdating" ng-change="updateData(value.nid, {'field_casfield_watch_quantityting_sku': value['field_watch_quantity']}, 'field_watch_quantity', $index)">
                </td>
                <td class="dataCell">
                    <span id="loader_field_watch_value{{$index}}"><img src="./images/small_loader.gif" alt="loading"></span>
                    <input id="input_field_watch_value{{$index}}" class="form-control" type="text" ng-model="value.field_watch_value" ng-disabled="isUpdating" ng-change="updateData(value.nid, {'field_watch_value': value['field_watch_value']}, 'field_watch_value', $index)">
                </td>
                <td class="dataCell">
                    <span id="loader_field_budget_covered{{$index}}"><img src="./images/small_loader.gif" alt="loading"></span>
                    <input id="input_field_budget_covered{{$index}}" class="form-control" type="text" ng-model="value.field_budget_covered" ng-disabled="isUpdating" ng-change="updateData(value.nid, {'field_budget_covered': value['field_budget_covered']}, 'field_budget_covered', $index)">
                </td>
                <td>{{value.field_event_bali_budget - value.field_budget_covered}}</td>
                <td class="dataCell">
                    <span id="loader_field_factory_event_merch{{$index}}"><img src="./images/small_loader.gif" alt="loading"></span>
                    <input id="input_field_factory_event_merch{{$index}}" class="form-control" type="text"  ng-model="value.field_factory_event_merch" ng-disabled="isUpdating" ng-change="updateData(value.nid, {'field_factory_event_merch': value['field_factory_event_merch']}, 'field_factory_event_merch', $index)">
                </td>
                <td>-----</td>
                <td class="dataCell">
                    <span id="loader_field_factory_sku_offered{{$index}}"><img src="./images/small_loader.gif" alt="loading"></span>
                    <input id="input_field_factory_sku_offered{{$index}}" class="form-control" type="text" ng-model="value.field_factory_sku_offered" ng-disabled="isUpdating" ng-change="updateData(value.nid, {'field_factory_sku_offered': value['field_factory_sku_offered']}, 'field_factory_sku_offered', $index)">
                </td>
                <td class="dataCell">
                    <span id="loader_field_factory_sku_ordered{{$index}}"><img src="./images/small_loader.gif" alt="loading"></span>
                    <input id="input_field_factory_sku_ordered{{$index}}" class="form-control" type="text" ng-model="value.field_factory_sku_ordered" ng-disabled="isUpdating" ng-change="updateData(value.nid, {'field_factory_sku_ordered': value['field_factory_sku_ordered']}, 'field_factory_sku_ordered', $index)">
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>